.container {
  text-align: center;
  padding-top: 150px; /* 調整整體往下的距離，可改小讓內容往上 */
  background-image: url('../assets/信箱.png'); /* 圖片路徑依實際位置調整 */
  background-size: cover;  /* 填滿容器 */
  background-position: center;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}
