.profileContainer {
  background-image: url('../assets/設定資料.png'); /* 背景圖 */
  background-size: cover; /* 圖片填滿整個容器 */
  background-position: center; 
  min-height: 100vh; /* 視窗高度 */
  display: flex;
  justify-content: center;
}

.formContent {
  padding-top: 150px; /* 表單往下移 */
  text-align: center;
}
