.search-container {
  text-align: center;
  padding-top: 70px; /* 調整整體垂直位置 */
  background-image: url('../assets/好友.png'); /* 背景圖路徑 */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.search-section {
  margin-bottom: 5px;
}

.btn-area {
  margin-top: 50px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
